/* general utility classes as modifiers */

._uppercase {
    text-transform: uppercase;
}

._content-padding {
    padding: 1rem 1.2rem;
}

._margin-bottom {
    margin-bottom: 1.5rem;
}

._margin-bottom-and-top {
    margin: 3rem 0;
}

._no-padding {
    padding: 0;
}

._visible-mobil {
    display: block;
}

._visible-desktop {
    display: none;
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    ._content-padding_big-screen {
        padding: 4.5rem 10rem;
    }
    ._content-padding_article {
        padding: 3rem 20rem;
    }
    ._margin-right {
        margin-right: 3rem;
    }
    ._margin-left {
        margin-left: 3rem;
    }
    ._visible-mobil {
        display: none;
    }
    ._visible-desktop {
        display: block;
    }
}