/* resets */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* fonte */

h1,
h2 {
    font-family: var(--variable-heading-font-family, 'Arial');
    font-weight: var(--variable-heading-font-weight-bold, bold);
}

p {
    font-family: var(--variable-paragraf-font-family, 'Verdana');
}